/* Configuração padrão da página
		-------------------------------*/
		header{
			position: relative;
			height: 260px;
			right: 0;
			top: 0;
			background-color: #fff;
		}

		header h1{
			font-style: oblique;
			font-size: 3.5em;
			font-optical-sizing: 2px;
			word-spacing: 6%;
			letter-spacing: 0.2em;
			padding: 20px 0;
			position: absolute;
			top: 10px;
			right: 3%;
			margin-right: 0;
			padding-right: 0;
		}

		.menu {
			display: inline-block;
			text-decoration: none;
			list-style: none;
			text-align: right;
			margin-top: 10px;
			padding: 20px 0;
			position: absolute;
			bottom: 20px;
			right: 5%;
		}

		.menu li{
			padding: 5px 10px;
			float: left;
		}

		.menu li:hover{
			cursor: pointer;
			background-color: #777;
			color: #fff;
			text-decoration-line: underline;
		}

		body, html {
			margin: 0;
			font: 16px "Lato", sans-serif;
			color: #777;
			height: 100%;
		}

		h1::selection, span::selection, h3::selection, p::selection, li::selection {
            background-color: rgb(224, 190, 138);
            color: rgb(253, 253, 253);
        }


		.conteudo {
			color: #777;
			background-color: aliceblue;
			text-align: justify;
			padding: 50px 80px;
			position: relative;
		}

		h3 {
			text-transform: uppercase;
			color: #111;
			text-align: center;
		}

		p{
			margin-bottom: 20px;
		}

		/* Efeito Parallax
		-------------------------------*/
		.caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100%;
			opacity: 0.7;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed; 
		}

		.caixa1 {
			background-image: url(imagens/imagem1.jpg);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.jpg);
		}

		.conteudo-titulo {
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			text-align: center;
		}

		.conteudo-titulo span.titulo {
			color: #fff;
			background-color: #111;
			padding: 18px;
			font-size: 25px;
			letter-spacing: 5px;
			text-transform: uppercase;
		}
