/* Configuração padrão da página
		-------------------------------*/
		@font-face {
			font-family: roboto;
			src: url(Roboto-Regular.ttf);
		}
		
		* {
			font-family: roboto;
		}

		body, html {
			margin: 0;
			color: #7F6898;
			height: auto;
			overflow-x: hidden;
		}

		.banner-titulo{
			font-size: 6em;
			padding: 18px 0px;
			background-image: linear-gradient(to top, #5f4f70,#665679, #7f6898, #7f6898, #fceaff, #4C07BD, #4C07BD, #4C07BD, #4C07BD, #4C07BD);
			background-clip: text;
            background-size: 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            /* text-shadow: 5px 5px 2px black; */
            position: relative;
			user-select: none;
			margin: 0;
		}

		.nav-item.nav-item.nav-item {
			padding: 5px 10px;
			color: #7F6898;
			border-radius: 20px;
		}

		.nav-item.nav-item.nav-item:hover{
			cursor: pointer;
			background-color: #4C07BD;
			color: #fff;
			text-decoration-line: none;
		}

		

		h1::selection, span::selection, h3::selection, p::selection, li::selection {
            background-color: rgb(224, 190, 138);
            color: rgb(253, 253, 253);
        }


		.conteudo {
			color: #7F6898;
			background-color: rgb(255, 255, 255);
			text-align: justify;
			padding: 50px 80px;
			position: relative;
			box-shadow: 0 -10px 200px black;
		}

		.conteudo-titulo {
			color: #4C07BD;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 10px;
		}

		p{
			margin-bottom: 20px;
		}

		/* Efeito Parallax
		-------------------------------*/
		.caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100vh;
			opacity: 0.7;
			margin: 0;
			padding: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed; 
		}

		.caixa1 {
			background-image: url(imagens/imagem1.jpg);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.jpg);
		}

		.scrollRevela {
			overflow: auto;
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			color: #ffffff;
			text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
			font-weight:bold;
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin: 0;
			padding: 0;
			z-index: 1;
		}

		footer {
			position: relative;
			box-shadow: 0 -50px 100px black;
			background-color: white;
			padding-top: 20px;
		}