/* Configuração padrão da página
		-------------------------------*/
		@font-face {
			font-family: roboto;
			src: url(Roboto-Regular.ttf);
		}
		
		* {
			font-family: roboto;
		}

		body, html {
			margin: 0;
			color: #7F6898;
			height: auto;
			overflow-x: hidden;
		}

		.banner-titulo{
			font-size: 6em;
			color: #7F6898;
			padding-bottom: 20px;
		}

		.muda-cor {
			color: #4C07BD;
		}

		.nav-item.nav-item.nav-item {
			padding: 5px 10px;
			color: #7F6898;
			border-radius: 20px;
		}

		.nav-item.nav-item.nav-item:hover{
			cursor: pointer;
			background-color: #4C07BD;
			color: #fff;
			text-decoration-line: none;
		}

		

		h1::selection, span::selection, h3::selection, p::selection, li::selection {
            background-color: rgb(224, 190, 138);
            color: rgb(253, 253, 253);
        }


		.conteudo {
			color: #7F6898;
			background-color: rgb(255, 255, 255);
			text-align: justify;
			padding: 50px 80px;
			position: relative;
			box-shadow: 0 -10px 200px black;
		}

		.conteudo-titulo {
			color: #4C07BD;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 10px;
		}

		p{
			margin-bottom: 20px;
		}

		/* Efeito Parallax
		-------------------------------*/
		.caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100vh;
			opacity: 0.7;
			margin: 0;
			padding: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed; 
		}

		.caixa1 {
			background-image: url(imagens/imagem1.jpg);
		}

		.caixa2 {
			background-image: url(imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.jpg);
		}

		.scrollRevela {
			overflow: auto;
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			color: #FF8500;
			font-weight:bold;
			font-size: 3em;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin: 0;
			padding: 0;
			z-index: 1;
		}

		footer {
			position: relative;
			box-shadow: 0 -50px 100px black;
			background-color: white;
			padding-top: 20px;
		}